#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.nav {
  display: flex;
  gap: 12px;
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.active {
  color: rgb(24, 148, 78);
}
